.question-field {
  position: relative;
  max-width: 870px;
  width: 100%;
  margin-top: 15px;

  &-input {
    border: 1px solid #dae2eb;
    padding: 22px 24px;
    max-width: 830px;
    border-radius: 50px;
    border-radius: 50px;
    width: 100%;
    outline: none;
    background-color: #f8fafb;

    &::placeholder {
      color: #9ab0c7;
      max-width: 300px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 900px) {
    width: 80%;

    &-input {
      width: 93%;
    }
  }

  @media screen and (max-width: 500px) {
    &-input {
      width: 88%;
    }
  }
}
